* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: "Merriweather Sans", sans-serif;
}

nav {
    background-color: black;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 4rem;
}

nav a {
    height: 100%;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: grey;
}

nav li:first-child {
    font-family: "Nabla", serif;
    font-size: 2rem;
    margin-right: auto;
}

nav li:first-child:hover {
    background-color: grey;
}

.displayOnMobile {
    display:none;
}

@media screen and (max-width: 790px) {
    .hideOnMobile {
        display: none;
    }
    .displayOnMobile {
        display:block;
    }
}

.home {
    background: url(../images/chris-ried-ieic5Tq8YMk-unsplash.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.home .content-wrapper {
    flex: 1 0 auto;
}


.content-wrapper {
    margin: 0 auto;
    padding: 10rem;
    max-width: 75rem;
}

.content-bg {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.6rem;
}

.content-bg main p {
    margin: 1rem 0;
    font-weight: 300;
}

.content-bg img {
    width: 250px;
    float: left;
    margin-right: 1rem;
}

@media screen and (max-width: 1225px) {
    h1 {
        font-size: 2.5rem; 
    }
    h2 {
        font-size: 1rem;
    }
    .content-bg main p {
        font-size: 0.75rem
    }
     .content-bg {
        padding: 2.5rem;
    }
    .content-bg img {
        width: 200px;
    }
}

@media screen and (max-width: 830px) {
    .content-bg img {
        float: none;
        margin-right: 0;
    }
    h1 {
        font-size: 2.25rem;
    }
    h2 {
        font-size: 0.75rem;
    }

    .content-wrapper {
        padding: 5rem;
    }
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

@media screen and (max-width: 420px) {
    .content-wrapper {
        padding: 2.5rem;
    }
    nav li:first-child {
        font-size: 1.25rem;
    }   
}


@media screen and (max-width: 440px){
    footer {
        text-align: center;
    }

    footer a {
        margin-top: 1rem;
    }
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: grey;
}
